body {
  --bg: white;
  --textNormal: #222;
  --textTitle: #222;
  --textLink: blue;
  --hr: hsla(0, 0%, 0%, 0.2);

  background-color: var(--bg);
}

body.dark {
  -webkit-font-smoothing: antialiased;

  color: #fff;
  --bg: #303030;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: white;
  --textLink: yellow;
  --hr: hsla(0, 0%, 100%, 0.2);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }

  a {
    color: #ff2677;
    text-shadow: none;
  }
}

@font-face {
  font-family: "Roboto", serif;
  font-display: swap;
}
